<div class="jumbotron">
  <div class="container">

  <h1>Hello,</h1>
  <% unless user_signed_in? %>
    <p>yes! I am a cash book. but you need to <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> before continuing!</p>
  <% end %>
  
  </div>
</div>