<h1>All Payments</h1>
<%= link_to 'Back', user_path( @user ) %>

<table class = "table">
	<thread>
		<tr>
		<th>Date</th>
		<th>Item</th>
		<th>Cost</th>
		<th colspan="3"></th>
		</tr>
	</thread>
		
	<tbody>
		<% @payments.each do |pay| %>
		<tr>
			<td><%= pay.date %></td>
			<td><%= link_to pay.item, user_payment_path(@user, pay)%></td>
			<td><%= pay.cost %></td>
		</tr>
		<% end %>
	</tbody>
</table>