<ul class="nav navbar-nav">
<% if user_signed_in? %>
  <li><%= link_to name_or_email(current_user), user_path( current_user ) %></li>
  <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to '註冊', new_user_registration_path %><span class="sr-only">(current)</span></li>
  <li><%= link_to '登入', new_user_session_path %><span class="sr-only">(current)</span></li>
<% end %>
</ul>